<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración</title>
  <link rel="stylesheet" href="/../public/css/admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
  <%- include('../partials/header') %>
    <h1>Panel de Administración</h1>
    <div class="container">
      <% userList.forEach(function(user) { %>
        <div class="admin">
          <h2 class="name">
            <%= user.name %>
          </h2>
          <p class="email">
            Email: <%= user.email %>
          </p>
          <p class="roles">
            Rol(es): <%= user.roles.join(', ') %>
          </p>
          <div class="actions-container">
            <a href="/edit/<%= user._id %>" class="button edit-button"><i class="fa-solid fa-user-pen"></i></a>
            <form action="/delete/<%= user._id %>" method="POST">
              <button type="submit" class="button delete-button"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </div>
      <% }); %>
    </div>
    
  </body>
  
  </html>