<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>Editar perfil</title>
	<link rel="stylesheet" href="/../public/css/main.css">
</head>

<body>
	<%- include('../partials/header') %>
		<div class="profile-card">
			<h1 class="profile-name">Editar Perfil <%= user.name %></h1>
			<form action="/perfil" method="POST">
				<label for="name">Nombre:</label>
				<input type="text" name="name" value="<%= user.name %>" required><br>
				<label for="email">Email:</label>
				<input type="email" name="email" value="<%= user.email %>" required><br>
				<label for="password">Contraseña:</label>
				<input type="password" name="password" required><br>
				<div class="form-group">
					<label for="profileImage">Imagen de perfil (URL):</label>
					<input type="text" class="form-control" id="profileImage" name="profileImage" value="<%= user.profileImage %>">
				</div>
				<div class="form-group">
					<label for="color">Color de borde:</label>
					<input type="color" id="color" name="color" value="<%= user.color %>" />
				</div>			
				<div class="cambio-tema"> 
				<button type="submit" class="logout-button">Actualizar perfil</button>
			</div>
			</form>
		</div>

</body>

</html>

<script src="/../public/js/darkmode.js"></script>