<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuario</title>
  <link rel="stylesheet" href="/../public/css/main.css">
</head>

<body>
  <%- include('../partials/header_editUser') %>

    <div class="edit-form">
      <h1 class="form-title">Editar Usuario</h1>
      <form action="/edit/<%= user._id %>" method="POST">
        <div class="form-field">
          <label class="form-label" for="name">Nombre:</label>
          <input class="form-input" type="text" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div class="form-field">
          <label class="form-label" for="email">Correo:</label>
          <input class="form-input" type="email" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <div class="form-field">
          <label class="form-label">Roles:</label>
          <% const roles=['usuario', 'editor' , 'admin' ]; %>
            <% for (let i=0; i < roles.length; i++) { %>
              <div class="checkbox-field">
                <input class="checkbox-input" type="checkbox" id="<%= roles[i] %>" name="roles" value="<%= roles[i] %>"
                  <% if (user.roles.includes(roles[i])) { %> checked <% } %>>
                  <label for="<%= roles[i] %>">
                    <%= roles[i] %>
                  </label>
              </div>
              <% } %>
        </div>
        <div class="form-field">
          <input class="form-submit" type="submit" value="Guardar">
          <a class="cancel-link" href="javascript:history.back()">Cancelar</a>
        </div>
      </form>
    </div>
</body>

</html>