<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Evento</title>
  <link rel="stylesheet" href="/../public/css/main.css">
</head>

<body>
  <%- include('../partials/header') %>

    <div class="edit-form">
      <h1 class="form-title">Editar Evento</h1>
      <form method="POST" action="/eventos/<%= evento._id %>/actualizar">
        <div class="form-field">
          <label class="form-label" for="title">Título:</label>
          <input class="form-input" type="text" name="title" id="title" value="<%= evento.title %>">
        </div>
        <div class="form-field">
          <label class="form-label" for="start">Fecha de inicio:</label>
          <input class="form-input" type="datetime-local" name="start" id="start" value="<%= startFormatted %>">
        </div>
        <div class="form-field">
          <label class="form-label" for="end">Fecha de fin:</label>
          <input class="form-input" type="datetime-local" name="end" id="end" value="<%= endFormatted %>">
        </div>
        <div class="form-field">
          <button class="form-submit" type="submit">Actualizar</button>
          <a class="cancel-link" href="javascript:history.back()">Cancelar</a>
        </div>
      </form>
    </div>
</body>

</html>