<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Editor</title>
  <link rel="stylesheet" href="/../public/css/admineditor.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <%- include('../partials/header') %>

    <h1>Noticias</h1>
    <a href="/noticias/crear" class="create-link"><i class="fa-solid fa-plus"></i>Crear noticia</a>

    <div class="container">
      <% noticias.forEach(function(noticia) { %>
        <div class="admin">
          <h2 class="name">
            <a href="/noticias/<%= noticia._id %>">
              <%= noticia.titulo %>
            </a>
          </h2>
          <p class="email">
            Autor: <%= noticia.autor ? noticia.autor.name : 'Autor desconocido' %>
          </p>
          <p class="roles">
            Creación: <%= noticia.fechaCreacion ? noticia.fechaCreacion.toLocaleDateString('es-ES', { hour: '2-digit' ,
              minute: '2-digit' }) : 'Fecha desconocida' %>
          </p>
          <div class="actions-container">
            <a href="/noticias/<%= noticia._id %>/editar" class="button edit-button"><i
                class="fa-solid fa-user-pen"></i></a>
            <form method="POST" action="/noticias/<%= noticia._id %>/borrar">
              <button type="submit" class="button delete-button"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </div>
        <% }); %>
    </div>

    <h1>Eventos</h1>
    <a href="/eventos/crear" class="create-link"><i class="fa-solid fa-plus"></i>Crear evento</a>

    <div class="container">
      <% events.forEach(function(event) { %>
        <div class="admin">
          <h2 class="name">
            <%= event.title %>
          </h2>
          <p class="email">
            Inicio: <%= event.formattedStart %>
          </p>
          <p class="roles">
            Fin: <%= event.formattedEnd %>
          </p>
          <div class="actions-container">
            <a href="/eventos/<%= event.id %>/editar" class="button edit-button"><i
                class="fa-solid fa-user-pen"></i></a>
            <form method="POST" action="/eventos/<%= event.id %>/borrar">
              <button type="submit" class="button delete-button"><i class="fa-solid fa-trash"></i></button>
            </form>
          </div>
        </div>
        <% }); %>
    </div>
</body>

</html>