<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha de Noticia</title>
  <link rel="stylesheet" href="/../public/css/main.css">
</head>

<%- include('../partials/header') %>

  <body>
    <div class="news-card">
      <h1 class="news-title">
        <%= noticia.titulo %>
      </h1>
      <div class="news-info">
        <p class="news-author">Autor: <%= noticia.autor ? noticia.autor.name : 'Autor desconocido' %>
        </p> |&nbsp;
        <p class="news-date">
          <%= noticia.fechaCreacion ? noticia.fechaCreacion.toLocaleDateString('es-ES',{timeZone: 'Europe/Madrid' ,
            hour: '2-digit' , minute: '2-digit' }) : 'Fecha desconocida' %>
        </p>
      </div>
      <div class="img-content">
        <img class="image" src="/../public<%= noticia.imagen %>" alt="">
      </div>
      <p class="news-content">
        <%= noticia.contenido %>
      </p>
      <div class="back-button-container">
        <a href="javascript:history.back()" class="back-button">Volver</a>
      </div>
    </div>
  </body>

</html>