<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>Perfil de <%= name %>
	</title>
	<style>
		.profile-card {
			background-color: #ffffff;
			border-radius: 8px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			padding: 20px;
			margin: 20px auto;
			max-width: 50%;
		}

		.profile-name {
			font-size: 24px;
			color: #8c72cc;
			margin-bottom: 10px;
			text-align: center;
		}

		.profile-info {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
		}

		.profile-label {
			font-size: 16px;
			color: #8c72cc;
			margin-right: 10px;
		}

		.profile-value {
			font-size: 16px;
		}

		.logout-button-container {
			text-align: center;
			margin-top: 20px;
		}

		.logout-button {
			background-color: #8c72cc;
			color: #ffffff;
			font-size: 16px;
			padding: 10px 20px;
			border-radius: 4px;
			text-decoration: none;
			border: none;
		}

		.logout-button:hover {
			background-color: #6b519f;
		}

		.dark-mode .profile-card {
			background-color: #1c0c3e;
		}

		.dark-mode .profile-value {
			color: white;
		}

		.dark-mode .logout-button {
			background-color: #6b519f;
		}

		.dark-mode .logout-button:hover {
			background-color: #493179;
		}

		.cambio-tema {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.tema-btn {
			padding: 8px 12px;
			border: none;
			border-radius: 4px;
			background-color: #eaeaea;
			color: #333333;
			font-size: 16px;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
		}

		.tema-btn:hover {
			background-color: #5c5c5c;
			color: #ffffff;
		}

		@media (max-width: 768px) {
			.profile-card {
				max-width: 90%;
			}
		}

		@media (min-width: 769px) and (max-width: 992px) {
			.profile-card {
				max-width: 80%;
			}
		}
	</style>
</head>

<body>
	<%- include('../partials/header') %>
		<div class="profile-card">
			<h1 class="profile-name">
				<%= name %>
			</h1>
			<div class="profile-info">
				<p class="profile-label">Nombre de usuario:</p>
				<p class="profile-value">
					<%= name %>
				</p>
			</div>
			<div class="profile-info">
				<p class="profile-label">Email:</p>
				<p class="profile-value">
					<%= email %>
				</p>
			</div>
			<div class="profile-info">
				<p class="profile-label">Rol(es):</p>
				<p class="profile-value">
					<%= roles %>
				</p>
			</div>
			<div class="cambio-tema">
				<button id="modo-oscuro-toggle" class="tema-btn">
					<i class="fas fa-moon"></i>
				</button>
			</div>
			<div class="logout-button-container">
				<form action="/logout" method="POST">
					<button class="logout-button" type="submit">Cerrar sesión</button>
				</form>
			</div>
		</div>
</body>

</html>

<script src="/../public/js/darkmode.js"></script>

<script>
	var toggle = document.getElementById('modo-oscuro-toggle');
	toggle.addEventListener('click', alternarModoOscuro);
</script>