<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>Perfil de <%= name %>
	</title>
	<link rel="stylesheet" href="/../public/css/main.css">
</head>

<body>
	<%- include('../partials/header') %>
		<div class="profile-card">
			<h1 class="profile-name">
				<%= name %>
			</h1>
			<div class="profile-info">
				<p class="profile-label">Nombre de usuario:</p>
				<p class="profile-value">
					<%= name %>
				</p>
			</div>
			<div class="profile-info">
				<p class="profile-label">Email:</p>
				<p class="profile-value">
					<%= email %>
				</p>
			</div>
			<div class="profile-info">
				<p class="profile-label">Rol(es):</p>
				<p class="profile-value">
					<%= roles %>
				</p>
			</div>
			<div class="cambio-tema">
				<button id="modo-oscuro-toggle" class="tema-btn">
					<i class="fas fa-moon"></i>
				</button>
			</div>
			<div class="logout-button-container">
				<form action="/logout" method="POST">
					<button class="logout-button" type="submit">Cerrar sesión</button>
				</form>
			</div>
		</div>
</body>

</html>

<script src="/../public/js/darkmode.js"></script>

<script>
	var toggle = document.getElementById('modo-oscuro-toggle');
	toggle.addEventListener('click', alternarModoOscuro); //establece el botón para cambiar de tema usando las funciones de darkmode.js
</script>